<!DOCTYPE html>
<html>

<head>
    <title>Drop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/drop.css">
    <link rel="stylesheet" type="text/css" href="/css/tabs.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div class="modal fade" id="fileviewModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white;">&times;</span>
                </button>
                <div class="embed-responsive embed-responsive-16by9 video hidden">
                    <video controls="controls" id="playvideo" src="" controlsList="nodownload">
                        Your browser does not support the video.
                    </video>
                </div>
                <div class="audio hidden">
                    <center>
                        <audio controls="controls" id="playaudio" src="" controlsList="nodownload">
                            Your browser does not support the audio.
                        </audio>
                    </center>
                </div>
                <div class="image hidden">
                    <img id="imgsrc" src="" alt="Oops! Image not loaded due to some problem !!">
                </div>

                <div class="pdf hidden">
                    <iframe id="pdfsrc" src="" width="800px" height="600px"></iframe>
                </div>

                <div class="doc hidden">
                    <div id="#docfileTitle"></div>
                </div>

                <div class="dcomments"></div>
            </div>
        </div>
    </div>
</div>

<div class="notification hidden">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <div id="notifyMsg">/* notifies message */</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="color: white;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

    <div class="drop">
        <div class="col-md-9 dropOptions">
            <div id="options">
                <br>
                <% if(message.length > 0) { %>
                    <div class="alert alert-danger" role="alert" id="status"><%= message %></div>
                <% } %>
                <div class="dropcontentList hidden"><%= drop %></div>
                <div class="userRole hidden"><%= role %></div>
                <h4>drop.io/<%= dropAuth.drop %></h4>
                <div class="buttons">
                    <button type="button" class="btn btn-default btn-xl" id="btn-addFiles" style="display: none;">
                        <div class="btn-icon">
                            <i class="fa fa-plus-circle fa-2x"></i>
                        </div>
                        <div class="btn-text">
                            <b>Add</b>
                            <br>
                        </div>
                    </button>
                    <button type="button" class="btn btn-default btn-xl" id="btn-shareFiles" style="display: none;">
                        <div class="btn-icon">
                            <i class="fa fa-share-alt fa-2x"></i>
                        </div>
                        <div class="btn-text">
                            <b>Share by</b>
                            <br>
                        </div>
                    </button>
                </div>
            </div>
            <br>
            <div id="addFiles" class="hidden">
                <div class="vertical-tabs">
                    <ul class="tabs vertical" data-tab="">
                        <li class="tab-title active"><a href="#add_files" aria-selected="true" tabindex="0">Files</a></li>
                        <li class="tab-title"><a href="#add_notes" aria-selected="false" tabindex="-1">Notes</a></li>
                    </ul>
                    <div class="tabs-content">
                        <div class="content active" id="add_files" aria-hidden="false">
                    <form method="post" action="/addfiles" enctype="multipart/form-data">
                                <input type="hidden" name="drop" value="<%= dropAuth.drop %>">
                                <div class="file-drop-area">
                                    <i class="fa fa-files-o fa-2x"></i>
                                    <span class="file-msg js-set-number">&nbsp;Add Files (Select, Drag & Drop)</span>
                                    <input class="file-input" type="file" multiple name="files" required>
                                </div>
                                <br>
                                <progress class="progress" max="100" value="56"></progress>
                                <br>
                                <input type="submit" class="btn btn-primary" value="Add Files">
                            </form>
                        </div>
                        <div class="content" id="add_notes" aria-hidden="true" tabindex="-1">
                            <form method="post" action="/addFiles/
                                enctype="multipart/form-data">
                                <input type="hidden" name="drop" value="<%= dropAuth.drop %>">
                                <div class="form-group">
                                    <h4>Add Notes:</h4>
                                    Notes Title:
                                    <textarea  class="form-control" name="notesTitle" rows="1" autofocus></textarea>
                                    <br>
                                    Notes
                                    <textarea class="notes form-control" name="notes" onkeyup="textAreaAdjust(this)" ></textarea>
                                </div>
                                <button class="btn btn-success">Add Notes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="shareFiles" class="hidden">
                <div class="vertical-tabs">
                    <ul class="tabs vertical" data-tab="">
                        <li class="tab-title active"><a href="#emailShare" aria-selected="true" tabindex="0" style="height: 410px;">Email</a></li>
                        
                    </ul>
                    <div class="tabs-content">
                        <div class="content shareContent active" id="emailShare" aria-hidden="true" tabindex="-1">
                            <div class="float col-md-4">
                    <b>Guest Permissions : </b>
                    <label style="display: none;" class="checkbox">
                        <input type="checkbox" name="guests"  value="addFiles">
                        <span class="checkmark"></span> 
                        <span style="display:inline-block; width: 30px;"></span>
                        Add files
                    </label>
                    <label style="display: none;" class="checkbox">
                        <input type="checkbox" name="guests"  value="comments">
                        <span class="checkmark"></span>
                        <span style="display:inline-block; width: 30px;"></span>
                        Add Comments
                    </label>
                    <label style="display: none;" class="checkbox">
                        <input type="checkbox" name="guests"  value="downloads">
                        <span class="checkmark"></span>
                        <span style="display:inline-block; width: 30px;"></span>
                        Download Files
                    </label>
                    <label style="display: none;" class="checkbox">
                        <input type="checkbox" name="guests"  value="delete">
                        <span class="checkmark"></span>
                        <span style="display:inline-block; width: 30px;"></span>
                        Delete Files
                    </label>
                    <br>
                    Email to share : <span style="display:inline-block; width: 35px;"></span><input type="email" name="email" autofocus>&nbsp;(optional)<br><br>
                    Password :<span style="display:inline-block; width: 75px;"></span><input type="password" name="guestsPwd" id="sharepwd">&nbsp;(optional)<br><br>
                    <button id="emailFiles" class="btn btn-success">Share Files</button>            
                </div>
                            <div class="float col-md-4 shareEmail">
                                <br>
                                <p><b>&rArr; </b>Click this button to &nbsp;
                                <button type="button" id="selectFiles" class="btn btn-primary">Select Files</button></p>
                                <p><b>&rArr; </b>Select all files to be shared by clicking on the checkbox on top of the file.</p>
                                <p><b>&rArr; </b>Provide 'valid' email address (optional) and other details to share the drop files.</p>

                                <p class="sharableLink"><b>&rArr; </b>Your sharable drop link:</p>
                                <textarea class="form-control" id="sharableLink" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="content shareContent" id="emailAlerts" aria-hidden="true" tabindex="-1">
                            <div class="float col-md-4">
                                <br>
                                <br>
                                <center>Email :
                                    <input type="email" name="email" autofocus>
                                    <br>
                                    <br>
                                    <button class="btn btn-success">Submit</button>
                            </div>
                            </center>
                            <div class="float col-md-4 alertEmail">
                                <br>
                                <p><b>&rArr; </b>Email will be verified</p>
                                <p><b>&rArr; </b>Notifications on drop updates will be sent to this email.</p>
                                <p><b>&rArr; </b>This email can be removed by the drop 'admin' with/without notifying you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Dropfiles col-md-10">
                <br>
                <div class="dfiles" id="dfiles">
                    
                </div>
    </div>

</div>
        <br><br>
        <form action="/drop.io/<%= dropAuth.drop %>/logout">
            <span style="display:inline-block; width: 80px;"></span>
            <button type="submit" class="btn btn-default">Logout</button>
        </form>
        <% if (role == "admin") { %>
        <div class="col-md-3 settings">
            <div class="admin">
                <br><br><br><br>
                <h4>Admin Details</h4>
                <br>
                <% if (!dropAuth.admin) { %>
                <p>Please <b><i>provide admin credentials</i></b> to control guest permissions and to get updates on this drop. <b>This will appear only once</b>.</p>
                <% } %>
                <form method="post" action="/saveLogin/<%= dropAuth.drop %>">
                    <% if (dropAuth.admin) { %>
                        <label for="adminEmail">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="email" name="adminEmail" placeholder="<%= dropAuth.admin %>" required><br><br>
                        <label for="adminPwd">Password</label>
                        <input type="password" name="adminPwd" placeholder="**********" required pattern=".{6,}" title="6 characters minimum"><br><br>
                    <% } else { %>
                        <label for="adminEmail">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="email" name="adminEmail" placeholder="Enter Admin Email" required><br><br>
                        <label for="adminPwd">Password</label>
                        <input type="password" name="adminPwd" placeholder="Enter Admin Password" required pattern=".{6,}" title="6 characters minimum"><br><br>
                    <% } %>
                    <span style="display:inline-block; width: 60px;"></span>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
            <div class="guest">
                <br>
                <h4>Guest Permissions</h4>
                <form method="post" action="/saveLogin/<%= dropAuth.drop %>">
                    <label class="checkbox">
                        <input type="checkbox" name="guests" id="guest_addFiles" value="addFiles">
                        <span class="checkmark"></span> 
                        <span style="display:inline-block; width: 30px;"></span>
                        Add files
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="guests" id="guest_comments" value="comments">
                        <span class="checkmark"></span>
                        <span style="display:inline-block; width: 30px;"></span>
                        Add Comments
                    </label>
                    <label class="checkbox ">
                        <input type="checkbox" name="guests" id="guest_downloads" value="downloads">
                        <span class="checkmark"></span>
                        <span style="display:inline-block; width: 30px;"></span>
                        Download Files
                    </label>
                    <label  class="checkbox ">
                        <input type="checkbox" name="guests" id="guest_delete" value="delete">
                        <span class="checkmark"></span>
                        <span style="display:inline-block; width: 30px;"></span>
                        Delete Files
                    </label>
                    <% if (dropAuth.guest) { %>
                        <label>Password </label>
                        <input type="password" name="guestsPwd" placeholder="**********" pattern=".{6,}" title="6 characters minimum"><br><br>
                    <% } else { %>
                        <label>Password </label>
                        <input type="password" name="guestsPwd" placeholder="Set Guest Password" pattern=".{6,}" title="6 characters minimum"><br><br>
                    <% } %>
                    <br>
                    <span style="display:inline-block; width: 60px;"></span>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>   
            </div>
            <div class="shared">
                
            </div>
        </div>
        <% } %>
    </div>
    <div style="clear:both;"></div>

    </div>
    <br>
    <script type="text/javascript" src="/js/drop.js"></script>
</body>

</html>